[mysqld]
# Default configuration
skip-host-cache
skip-name-resolve
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
secure-file-priv=/var/lib/mysql-files
user=mysql   
symbolic-links=0
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

# Replication configuration
server-id=101
log_bin
# The cattle here is our database name
binlog_do_db=mydata
bind-address   = 192.168.0.173
